flows (1).json
[{"id":"9c5cede9.0b319","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bb2542b7.feba","type":"ui_form","z":"9c5cede9.0b319","name":"","label":"","group":"ca45b120.6deb9","order":1,"width":"14","height":"4","options":[{"label":"Enter the input","value":"Input","type":"text","required":true,"rows":null}],"formValue":{"Input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":240,"wires":[["55b01685.0f66f8"]]},{"id":"55b01685.0f66f8","type":"function","z":"9c5cede9.0b319","name":"","func":"msg={\n    discoveryparams:\n{\n    \"environment_id\":\"system\",\n    \"query\":msg.payload.Input\n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["506c3849.91ab58"]]},{"id":"506c3849.91ab58","type":"watson-discovery-v1","z":"9c5cede9.0b319","name":"discovery","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/edd30b12-e7a7-4918-862d-8af4e07ceffe","x":400,"y":200,"wires":[["ad39f183.a0fde","4f7cc2ec.68b87c","d10f5040.09327","f0cbe321.72b14","9c0d3016.14bee","cacdae61.f16c7","14c42b60.161155"]]},{"id":"ad39f183.a0fde","type":"debug","z":"9c5cede9.0b319","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":80,"wires":[]},{"id":"bcb255e4.fc9698","type":"debug","z":"9c5cede9.0b319","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":360,"wires":[]},{"id":"1cfe52f7.e5ec8d","type":"sentiment","z":"9c5cede9.0b319","name":"","property":"payload","x":300,"y":440,"wires":[["bcb255e4.fc9698","4532aa73.2b34d4","b4105356.bad82","74f52470.7f262c"]]},{"id":"4f7cc2ec.68b87c","type":"function","z":"9c5cede9.0b319","name":"text","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":40,"wires":[["6b0b3eab.0a03d","5d1fbd.583ae044","1cfe52f7.e5ec8d"]]},{"id":"d10f5040.09327","type":"function","z":"9c5cede9.0b319","name":"author","func":"msg.payload=msg.search_results.results[0].author\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["13a2f46e.9b07ac"]]},{"id":"f0cbe321.72b14","type":"function","z":"9c5cede9.0b319","name":"main page url","func":"msg.payload=msg.search_results.results[0].main_image_url\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["c3569fe9.880b2"]]},{"id":"9c0d3016.14bee","type":"function","z":"9c5cede9.0b319","name":"url","func":"msg.payload=msg.search_results.results[0].url\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["fba68608.0f30b8"]]},{"id":"cacdae61.f16c7","type":"function","z":"9c5cede9.0b319","name":"score","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.score\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":240,"wires":[["25bb042d.46ecbc","e6cb4a24.db1d48"]]},{"id":"14c42b60.161155","type":"function","z":"9c5cede9.0b319","name":"label","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.label\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":300,"wires":[["ea307686.c96798"]]},{"id":"4532aa73.2b34d4","type":"function","z":"9c5cede9.0b319","name":"sentiment","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":380,"wires":[["692cb6fb.b1de38"]]},{"id":"b4105356.bad82","type":"function","z":"9c5cede9.0b319","name":"positive","func":"msg.payload=msg.sentiment.positive.length;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":440,"wires":[["58c9153d.f9cf9c"]]},{"id":"74f52470.7f262c","type":"function","z":"9c5cede9.0b319","name":"negative","func":"msg.payload=msg.sentiment.negative.length;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":500,"wires":[["c805967f.38e288"]]},{"id":"692cb6fb.b1de38","type":"ui_chart","z":"9c5cede9.0b319","name":"","group":"ca45b120.6deb9","order":8,"width":"3","height":"5","label":"sentimental score","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"3.0","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#edba21","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":380,"wires":[[]]},{"id":"58c9153d.f9cf9c","type":"ui_chart","z":"9c5cede9.0b319","name":"","group":"ca45b120.6deb9","order":9,"width":"3","height":"5","label":"positive chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2.0","ymax":"3.0","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":440,"wires":[[]]},{"id":"c805967f.38e288","type":"ui_chart","z":"9c5cede9.0b319","name":"","group":"ca45b120.6deb9","order":10,"width":"3","height":"5","label":"negative chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2.0","ymax":"3.0","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":500,"wires":[[]]},{"id":"6b0b3eab.0a03d","type":"ui_text","z":"9c5cede9.0b319","group":"ca45b120.6deb9","order":2,"width":"14","height":"2","name":"","label":"search result","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":20,"wires":[]},{"id":"13a2f46e.9b07ac","type":"ui_text","z":"9c5cede9.0b319","group":"ca45b120.6deb9","order":3,"width":"14","height":"2","name":"","label":"author","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":120,"wires":[]},{"id":"c3569fe9.880b2","type":"ui_text","z":"9c5cede9.0b319","group":"ca45b120.6deb9","order":4,"width":"14","height":"2","name":"","label":"main page url","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":160,"wires":[]},{"id":"fba68608.0f30b8","type":"ui_text","z":"9c5cede9.0b319","group":"ca45b120.6deb9","order":5,"width":"14","height":"2","name":"","label":"url","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":200,"wires":[]},{"id":"25bb042d.46ecbc","type":"ui_text","z":"9c5cede9.0b319","group":"ca45b120.6deb9","order":6,"width":"14","height":"2","name":"","label":"score","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":240,"wires":[]},{"id":"ea307686.c96798","type":"ui_text","z":"9c5cede9.0b319","group":"ca45b120.6deb9","order":7,"width":"14","height":"2","name":"","label":"label","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":320,"wires":[]},{"id":"5d1fbd.583ae044","type":"debug","z":"9c5cede9.0b319","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":60,"wires":[]},{"id":"e6cb4a24.db1d48","type":"ui_gauge","z":"9c5cede9.0b319","name":"","group":"ca45b120.6deb9","order":11,"width":0,"height":0,"gtype":"gage","title":"sentimental score","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":300,"wires":[]},{"id":"ca45b120.6deb9","type":"ui_group","z":"","name":"IBM ","tab":"5d0cfb3.ca44d04","order":1,"disp":true,"width":"14","collapse":false},{"id":"5d0cfb3.ca44d04","type":"ui_tab","z":"","name":"IBM","icon":"dashboard","disabled":false,"hidden":false}]